<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Metadata Publishing Tool</Name>
    <Version>1.0.0</Version>
    <Title>Metadata Publishing Tool Installer</Title>
    <Publisher>EHRI project</Publisher>
    <ProductUrl>https://github.com/EHRI/rspub-gui</ProductUrl>
    <MaintenanceToolName>MPT_MaintenanceTool</MaintenanceToolName>
    <StartMenuDir>MPT</StartMenuDir>
    <TargetDir>@ApplicationsDir@/MPT</TargetDir>
    <!--Background>../../../../conf/img/logo_h.png</Background-->
</Installer>
